<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>URL Shortener</title>
</head>

<body>
    <h1>URL Shortener</h1>
    <div class="err">
        <% if (locals.error) { %>
            <p class="error">
                <%= error %>
            </p>
            <% } %>
    </div>

    <div class="container">
        <form action="/" method="POST">
            <input type="url" name="url" id="url" placeholder="Enter your URL"><br>
            <input type="submit" value="create url" id="submit">
            <button type="reset" id="submit">Reset</button>
        </form>
        <br>
    </div>
    <div class="shorturl">
        <% if (locals.short_url) { %>
            <a href="<%= short_url %>" target="_blank">
                <%= short_url %>
            </a>
            <% } %>
    </div>
</body>

</html>